<h1>Все игроки</h1>

<table class="table table-striped table-bordered">
  <tr class="thead-inverse">
    <th>#</th>
    <th>Кто</th>
    <th>Очков</th>
    <th>Мячей после 30</th>
    <th>Мячей до 30</th>
    <th>Времени сыграно</th>
    <th>Ачивки</th>
    <th>Изменить</th>
    <th>Удалить</th>
  </tr>

  <% @rounds.each do |round| %>
    <tr>
      <td><%= round.id %></td>
      <td><%= round.place %></td>
      <td><%= round.start %></td>
      <td><%= round.end %></td>
      <td><%#= round.close_goal %></td>
      <td><%#= round.play_time %></td>
      <td><%#= round.achievement %></td>
      <td><%= link_to 'Изменить', edit_round_path(round) %></td>
      <td><%= link_to 'Удалить', round_path(round),
              method: :delete, data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>
